body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:748px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:408px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u826 {
  position:absolute;
  left:53px;
  top:51px;
  width:695px;
  height:408px;
}
#u827 {
  position:absolute;
  left:2px;
  top:196px;
  width:691px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828 {
  position:absolute;
  left:84px;
  top:137px;
  width:369px;
  height:282px;
}
#u828_input {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:282px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u829 {
  position:absolute;
  left:152px;
  top:90px;
  width:37px;
  height:16px;
}
#u829_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u830 {
  position:absolute;
  left:95px;
  top:90px;
  width:57px;
  height:16px;
}
#u831 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u832 {
  position:absolute;
  left:199px;
  top:88px;
  width:60px;
  height:21px;
}
#u833 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u834 {
  position:absolute;
  left:259px;
  top:90px;
  width:28px;
  height:16px;
}
#u834_input {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u835 {
  position:absolute;
  left:316px;
  top:85px;
  width:45px;
  height:21px;
}
#u836 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  word-wrap:break-word;
}
#u837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u837 {
  position:absolute;
  left:93px;
  top:389px;
  width:213px;
  height:16px;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  word-wrap:break-word;
}
#u839 {
  position:absolute;
  left:383px;
  top:389px;
  width:23px;
  height:16px;
}
#u839_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u840 {
  position:absolute;
  left:316px;
  top:389px;
  width:57px;
  height:16px;
}
#u841 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u842 {
  position:absolute;
  left:406px;
  top:389px;
  width:28px;
  height:16px;
}
#u843 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u844 {
  position:absolute;
  left:183px;
  top:389px;
  width:43px;
  height:16px;
}
#u845 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u846 {
  position:absolute;
  left:236px;
  top:389px;
  width:37px;
  height:16px;
}
#u846_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u847 {
  position:absolute;
  left:290px;
  top:389px;
  width:16px;
  height:16px;
}
#u848 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u849 {
  position:absolute;
  left:96px;
  top:150px;
  width:343px;
  height:127px;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u850 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u851 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u852 {
  position:absolute;
  left:113px;
  top:0px;
  width:113px;
  height:30px;
}
#u853 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u854 {
  position:absolute;
  left:226px;
  top:0px;
  width:112px;
  height:30px;
}
#u855 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u856 {
  position:absolute;
  left:0px;
  top:30px;
  width:113px;
  height:30px;
}
#u857 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u858 {
  position:absolute;
  left:113px;
  top:30px;
  width:113px;
  height:30px;
}
#u859 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u860 {
  position:absolute;
  left:226px;
  top:30px;
  width:112px;
  height:30px;
}
#u861 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:62px;
}
#u862 {
  position:absolute;
  left:0px;
  top:60px;
  width:113px;
  height:62px;
}
#u863 {
  position:absolute;
  left:2px;
  top:23px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:62px;
}
#u864 {
  position:absolute;
  left:113px;
  top:60px;
  width:113px;
  height:62px;
}
#u865 {
  position:absolute;
  left:2px;
  top:23px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:62px;
}
#u866 {
  position:absolute;
  left:226px;
  top:60px;
  width:112px;
  height:62px;
}
#u867 {
  position:absolute;
  left:2px;
  top:23px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u868 {
  position:absolute;
  left:282px;
  top:51px;
  width:265px;
  height:16px;
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u870 {
  position:absolute;
  left:53px;
  top:25px;
  width:99px;
  height:16px;
}
#u871 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u872 {
  position:absolute;
  left:162px;
  top:25px;
  width:57px;
  height:16px;
}
#u873 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:236px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u874 {
  position:absolute;
  left:463px;
  top:183px;
  width:272px;
  height:236px;
}
#u875 {
  position:absolute;
  left:2px;
  top:110px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u876 {
  position:absolute;
  left:468px;
  top:157px;
  width:57px;
  height:16px;
}
#u877 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u878 {
  position:absolute;
  left:482px;
  top:208px;
  width:57px;
  height:29px;
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u880 {
  position:absolute;
  left:577px;
  top:208px;
  width:113px;
  height:21px;
}
#u880_input {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u881 {
  position:absolute;
  left:482px;
  top:247px;
  width:57px;
  height:16px;
}
#u882 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u883 {
  position:absolute;
  left:514px;
  top:356px;
  width:72px;
  height:18px;
}
#u883_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u884 {
  position:absolute;
  left:615px;
  top:356px;
  width:64px;
  height:18px;
}
#u884_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u885 {
  position:absolute;
  left:577px;
  top:243px;
  width:113px;
  height:20px;
}
#u885_input {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u886 {
  position:absolute;
  left:482px;
  top:293px;
  width:57px;
  height:16px;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u888 {
  position:absolute;
  left:577px;
  top:280px;
  width:113px;
  height:56px;
}
#u888_input {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:56px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
